.DS_store
__pycache__
.ipynb_checkpoints
alphastats.egg-info
_build
build
dist
.coverage
.idea/alphapeptstats.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
